*{
    margin: 0;
}

body{
    display: flex;
    text-align: center;
}

#a{
    width: 20%;
    background-color: blue;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px #000000;
}

#b{
    width: 20%;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
}