*{
    margin: 0;
}

body{
    display: flex;
}

#a{
    width: 40%;
    background-color: blue;
    margin: 10px auto;
    border-radius: 10px;
}

#b{
    width: 40%;
    background-color: red;
    margin: 10px auto;
    border-radius: 10px;
}